# Build
**/node_modules/
frontend/dist/
desktop/release/
desktop/dist/
desktop/out/

# Desktop
desktop/*.exe
desktop/*.zip

# Logs
*.log
**/node_modules/
frontend/dist/
desktop/release/
desktop/dist/
desktop/out/
desktop/*.exe
desktop/*.zip
*.log
