.manager-sidebar{

    width:240px;

    min-height:100vh;

    background:#0f766e;

    color:white;

    display:flex;

    flex-direction:column;

}


.manager-logo{

    padding:24px 20px;

    border-bottom:1px solid rgba(255,255,255,.2);

}


.manager-logo h2{

    margin:0;

    font-size:26px;

}


.manager-logo span{

    font-size:13px;

}



.manager-menu{

    flex:1;

    padding:20px 12px;

}



.manager-menu-item{

    display:flex;

    align-items:center;

    gap:14px;

    padding:14px 16px;

    margin-bottom:8px;

    border-radius:12px;

    color:white;

    text-decoration:none;

}



.manager-menu-item span{

    font-size:20px;

}



.manager-menu-item p{

    margin:0;

}



.manager-menu-item:hover{

    background:rgba(255,255,255,.15);

}



.manager-menu-item.active{

    background:white;

    color:#0f766e;

}



.manager-logout{

    margin:18px;

    padding:12px;

    border:none;

    border-radius:10px;

    cursor:pointer;

    color:#0f766e;

    font-weight:600;

}


@media(max-width:768px){

    .manager-sidebar{

        display:none;

    }

}
.manager-layout{

    display:flex;

    min-height:100vh;

    width:100%;

    background:#f5f7fb;

}


/* phần bên phải */

.manager-main{

    flex:1;

    display:flex;

    flex-direction:column;

    min-width:0;

}


/* nội dung */

.manager-content{

    flex:1;

    padding:24px;

    overflow:auto;

}