.manager-layout{

    display:flex;

    min-height:100vh;

    width:100%;

    background:#f5f7fb;

}


/* phần bên phải */

.manager-main{

    flex:1;

    display:flex;

    flex-direction:column;

    min-width:0;

}


/* nội dung */

.manager-content{

    flex:1;

    padding:24px;

    overflow:auto;

}
@media(max-width:768px){


.manager-layout{

    display:block;

}



.manager-main{

    width:100%;

}



.manager-content{

    padding:16px;

    padding-bottom:90px;

}


}

/* MOBILE NAVBAR */

.mobile-navbar{
    display:none;
}



@media(max-width:768px){


    .layout{

        display:block;

    }



    .main-layout{

        width:100%;

    }



    .page-content{

        padding-bottom:90px;

    }



}