.main-layout {
    width: 100%;
    min-height: 100vh;

    background: #f3f6fc;
}

.main-layout-content {
    width: 100%;
    min-height: 100vh;
}


/* =====================================================
   MOBILE
===================================================== */

@media (max-width: 767px) {

    .main-layout-content {
        width: 100%;
    }

}


/* =====================================================
   TABLET
===================================================== */

@media (min-width: 768px) and (max-width: 1023px) {

    .main-layout-content {
        width: 100%;
    }

}


/* =====================================================
   LAPTOP
===================================================== */

@media (min-width: 1024px) and (max-width: 1439px) {

    .main-layout-content {
        width: 100%;
    }

}


/* =====================================================
   DESKTOP LỚN
===================================================== */

@media (min-width: 1440px) {

    .main-layout-content {
        width: 100%;
    }

}